<a href="https://colab.research.google.com/github/SHADAMAKINIKHITHA/NNDL/blob/main/python%20assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
cost=int(input())
if cost<0:
  try:
    if cost<0:
      raise INVALIDPRODUCTBILLEXCEPTION
  except INVALIDPRODUCTBILLEXCEPTION:
    print("Bill cannot be negative")
else:
    print("You need to pay amount",cost)

600
You need to pay amount 600

In [17]:
age=int(input())
try:
  if age < 13:
    raise InvalidAccountCreationException
  else:
    print("Account created succesfully")
except InvalidAccountCreationException:
  print("You are inelligible to signup for Facebook")

12
You are inelligible to signup for Facebook

In [41]:
class InvalidMarksException(Exception):
  pass
 
marks=int(input())
try:
  if marks<0 or marks>100:
    raise InvalidMarksException
  else:
    print("Marks-"%m)
except InvalidMarksException:
  print("You entered Invalid marks")

852
You entered Invalid marks

In [44]:
fd=open("inp1.txt",'x') 
print(fd)

<_io.TextIOWrapper name='inp1.txt' mode='x' encoding='UTF-8'>

In [57]:
fd = open("inp1.txt",'r')
i=fd.read()
fd.close()
print(i)
if(i==i[::-1]):
  print("Palindrome")
else:
  print("Not Palindrome")

hiiii
Not Palindrome

In [63]:
integers = []
for i in range(10):
  integers.append(int(input()))
 

reversed_integers = integers[::-1]

print(reversed_integers)

8
1
6
4
4
8
2
0
6
8
[8, 6, 0, 2, 8, 4, 4, 6, 1, 8]

In [66]:
class InvalidMessageLengthException(Exception):
  pass
ml=int(input())
try:
  if ml <0 or ml>160:
    raise InvalidMessageLengthException
  else:
    print("Message forwarded succesfully")
except InvalidMessageLengthException:
  print("Check the length of SMS should be within range 0-160")

183
Check the length of SMS should be within range 0-160

In [72]:
n=int(input())
l=len(str(n))
fd = open("inp2.txt",'w')
fd.write(str(l))
fd.close()

36721

In [90]:
n=int(input())
def nat(n):
  s=0
  for i in range(1,n):
    s=s+i
  return s

print(nat(n))
fd = open("sumresult.txt",'w')
fd.write(str(nat(n)))
fd.close()

5
10

In [97]:
class first:#denotes class
  def dis(self):
    print("first method")

str=first()# creating instance of class object
str.dis()

first method

In [102]:
inp=['ramu','laxman','sita','john']
out=list(map(lambda x:x.capitalize(),inp))
fd = open("listupper.txt",'w')
for i in out:
  fd.write(i)
fd.close()

In [106]:
class InvalidAgeException(Exception):
  pass  
age=int(input())
try:
  if age < 18:
    raise InvalidAgeException
  else:
    print("You are elligible to vote")
except InvalidAgeException:
  print("You are not elligible to vote")

12
You are not elligible to vote

In [110]:
fd1=open("stringinput1.txt",'x') 
print(fd1)

<_io.TextIOWrapper name='stringinput1.txt' mode='x' encoding='UTF-8'>

In [116]:
fd1=open("stringinput1.txt",'r') 
str=fd1.read()
fd1.close()
fd2=open("reversestr.txt",'w')
fd2.write(str[::-1])
print(str[::-1])
fd2.close()

945K81

In [117]:
print(x) #throws an Exception NameError
print("completed")

NameError: ignored

In [118]:
a='25 aaa'
print(int(a)) # throws ValueError

ValueError: ignored

In [119]:
a=25
b=0
print(a//b)#throws ZeroDivisionError

ZeroDivisionError: ignored

In [121]:
harrisons_shoes = {"Nike Air Force 1 07", "Nike Air Max Plus", "Adidas Gazelle"}
shoe_emporium = {"Adidas Samba", "Adidas Superstar", "Nike Air Max Plus"}
harrisons_shoes.extend(shoe_emporium)
print(harrisons_shoes)

AttributeError: ignored

In [122]:
class InvalidFileSizeException(Exception):
  pass
size=int(input())
try:
  if size <0 or size>20:
    raise InvalidFileSizeException
  else:
    print("you can upload file now...")
except InvalidFileSizeException:
  print("Check the size of attached file")

300
Check the size of attached file

In [123]:
inp=[1,2,5,4,8,10,13,15,18,30]
print(list(filter(lambda x:x%5!=0,inp)))

[1, 2, 4, 8, 13, 18]

In [128]:
import sqlite3
conn = sqlite3.connect('details.db')
createstmt='''create table IF NOT EXISTS personal_details(name text not null,age int not null,fathername text not null,address text not null,hobbies text not null)'''
conn.execute(createstmt)

In [129]:
createstmt='''create table IF NOT EXISTS student_details(name text not null,age int not null,markspercentage number(2,3) not null,branch text not null)'''
conn.execute(createstmt)

In [131]:
con=['finland','germany','sweden','ireland','turkey']
print(list(filter(lambda x:'and' in x,con)))

['finland', 'ireland']

In [132]:
inp=[1,2,6,4,8,9,13,15,18,30]
print(list(filter(lambda x:x%3!=0,inp)))

[1, 2, 4, 8, 13]